<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.security.LoginDao">

    <select id="getUser" resultType="com.example.demo.domain.security.vo.UserVO">
        SELECT
            u.id       userId,
            u.user_name userName,
            u.password password,
            u.nick_name nickName,
            u.role_id roleId
        FROM
            sys_user u
        WHERE u.user_name = #{userName}
              AND u.password = #{password}
              AND u.status='1'
    </select>

</mapper>