<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:replace="fragments/headTag :: head"></head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo"><img th:src="@{/img/favicon.png}" width="48px" height="48px"> Thymeleaf Layui</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item layadmin-flexible" lay-unselect="">
                <a href="javascript:;" layadmin-event="flexible" class="hideMenu" title="侧边伸缩">
                    <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
                </a>
            </li>
            <li class="layui-nav-item"><a href="">控制台</a></li>
            <li class="layui-nav-item"><a href="">商品管理</a></li>
            <li class="layui-nav-item"><a href="">用户</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;" th:text="${userName}"></a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;" class="userinfo">个人信息</a></dd>
                    <dd><a href="javascript:;" class="logout">退出</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="javascript:;">帮助</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">所有商品</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">列表一</a></dd>
                        <dd><a href="javascript:;">列表二</a></dd>
                        <dd><a href="javascript:;">列表三</a></dd>
                        <dd><a href="">超链接</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">解决方案</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">列表一</a></dd>
                        <dd><a href="javascript:;">列表二</a></dd>
                        <dd><a href="">超链接</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">云市场</a></li>
                <li class="layui-nav-item"><a href="">发布商品</a></li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="layui-icon layui-icon-notice"></i> <cite>测试页面3</cite></a>
                    <dl class="layui-nav-child" shiro:hasPermission="back:warning">
                        <dd><a href="warning/template/list.do_" target="content"><i class="layui-icon layui-icon-component"></i> <cite>报警模版</cite></a></dd>
                        <dd><a href="warning/group/list.do_" target="content"><i class="layui-icon layui-icon-component"></i> <cite>报警组</cite></a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <iframe name="content" id="content" src="main/home.do_"></iframe>
    </div>


    <div class="layui-footer footer">
        © 2018 Thyleaf Layui
    </div>
</div>
<script>
    layui.use(['element','layer'], function(){

        $ = layui.jquery;

        var element = layui.element;
        var layer = layui.layer;

        $(function(){
            $(".hideMenu").on("click",function(){
                var oClass=$(".layui-side").hasClass("mini");
                if(!oClass){
                    $(".layui-side").animate({
                        width:"50px"
                    })
                    $(".layui-body").animate({
                        left:"50"
                    })
                    $(".layui-footer").animate({
                        left:"50"
                    })
                    $("#LAY_app_flexible").removeClass("layui-icon-shrink-right");
                    $("#LAY_app_flexible").addClass("layui-icon-spread-left");
                }else{
                    $(".layui-side").animate({
                        width:"200px"
                    })
                    $(".layui-body").animate({
                        left:"200"
                    })
                    $(".layui-footer").animate({
                        left:"200"
                    })
                    $("#LAY_app_flexible").removeClass("layui-icon-spread-left");
                    $("#LAY_app_flexible").addClass("layui-icon-shrink-right");
                }
                $(".layui-side").toggleClass("mini");
            });
            //mini 模式下添加 tips
            $('.layui-nav-tree a').hover(function(){
                if($(".layui-side").hasClass('mini')){
                    var tipText = $(this).find('cite').text();
                    layer.tips(tipText, this);
                }
            },function(){
                layer.closeAll('tips');
            });

            $(".userinfo").on("click",function(){
                layer.open({
                    type: 2 //Page层类型
                    ,skin: 'layui-layer-molv'
                    ,area: ['500px', '455px']
                    ,title: ['个人信息','font-size:18px']
                    ,shadeClose: true
                    ,maxmin: true //允许全屏最小化
                    ,content:'security/user/info.do_'
                });
            });

            $(".logout").on("click",function(){
                $.ajax({
                    url:'logout.do_',
                    type:'post',
                    dataType:'json',
                    success:function(data){
                        if(data.code == 200){
                            location.href="index";
                        }else{
                            layer.msg(data.msg,{time:1000});
                        }
                    }
                });
            });
        });

    });
</script>
</body>
</html>